bin/eDnevnik[[:space:]]Super-4.0.0.msi filter=lfs diff=lfs merge=lfs -text
bin/eDnevnik[[:space:]]Super-4.0.0_amd64.deb filter=lfs diff=lfs merge=lfs -text
bin/eDnevnik[[:space:]]Super-4.0.0.dmg filter=lfs diff=lfs merge=lfs -text
