:root {
  --brand: #295ad4;
  --brand-transparent: #295ad400;
  --brand-light: #b3c2ff;
  --twist: #e7c424;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

a {
  cursor: pointer;
}
details {
  width: 100%;
}
summary {
  cursor: pointer;
}

::backdrop {
  background-color: black;
  opacity: 0.4;
}
dialog {
  max-width: 60ch;
}


.disabled {
  filter: brightness(.6);
  cursor: not-allowed !important;
}

.download-button {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px 20px;
  background-color: #000;
  border-color: #b5b5b4;
  border-width: 1px;
  border-style: solid;
  border-radius: 0.5rem;
  color: white;
  font-size: 1em;
  text-decoration: none;
  font-weight: bold;
  margin-bottom: 0.5rem;
  min-width: 10rem;
}

.download-button-text::before {
  content: "PREUZMITE";
  font-size: 0.75em;
  font-weight: normal;
  display: block;
}

.download-button-text:last-child {
  margin-bottom: 0;
}

.download-button > img, .download-button > svg {
  max-width: 3rem;
  max-height: 2.5rem;
}
.download-button > svg {
  fill: white;
}

body {
  margin: 0;
}

a {
  color: var(--brand-light);
}

.transition {
  overflow: hidden;
}

.transition > svg {
  width: 100%;
}

header {
  background: var(--twist);
  color: white;
}

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 2rem;
}

.header h1 {
  font-size: 3em;
}

.header > div {
  margin-top: 4rem;
  max-width: 60ch;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.3em;
}

.title > * {
  max-width: 50rem;
}

footer {
  min-height: 3rem;
  background-color: var(--brand-light);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
}
footer > p {
  text-align: center;
}
footer a {
  color: white;
}

.screenshoots {
  position: relative;
  overflow: hidden;
  background-color: var(--brand);
}

.screenshoots::after {
  content: "";
  position: absolute;
  bottom: 0;
  height: 10rem;
  width: 100%;
  background: linear-gradient(180deg,
      var(--brand-transparent) 0%,
      var(--brand) 100%);
}

.screenshoots > .animate {
  display: flex;
  animation: scroll 20s linear 1s backwards infinite;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc((min(20rem, 70vw) + 10vw) * -5));
  }
}

.screenshoots img {
  width: 20rem;
}
.screenshoots .animate > img {
  width: min(20rem, 70vw);
  margin-right: 10vw;
}
